<button><a href="#favorites">View Favorites</a></button>
<h2>Find a Pet Here</h2>
<p>You currently have {{favAnimalCount}} favorites.</p>
<form>
    <select ng-model="animal" ng-change="animalSearch()">
        <option value="">Choose an Animal...</option>
        <option ng-repeat="animal in animalOptions" value="{{animal.value}}">{{animal.animal}}</option>
    </select>
</form>

<div ng-hide="animalInfo">
    <img ng-src="{{animal.media.photos.photo[2].$t}}" />
    <h3>Name: {{animal.name.$t}}</h3>
    <h4>About me: </h4>
    <p>{{animal.description.$t}}</p>
    <button ng-click="newFavorite()">Add to Favorites</button>
</div>