<button><a href="#favorites">View Favorites</a></button>
<h2>Find a Pet Here</h2>
<!--<p>You currently have {{count}} favorites.</p>-->
<form>
    <select ng-model="animal" ng-change="animalSearch()">
        <option value="">Choose an Animal...</option>
        <option value="barnyard">Barn Animal</option>
        <option value="bird">Bird</option>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="horse">Horse</option>
        <option value="pig">Pig</option>
        <option value="reptile">Reptile</option>
        <option value="smallfurry">Small & Furry</option>
    </select>
</form>

<div ng-hide="animalInfo">
    <h3>Name: {{animal.name.$t}}</h3>
    <h4>About me: </h4>
    <p>{{animal.description.$t}}</p>
    <img ng-src="{{animal.media.photos.photo[2].$t}}" />
    <button ng-click="newFavorite()">Add to Favorites</button>
</div>